# pyOhio-demo Example ENV file

LANGFLOW_AUTO_LOGIN=true # use for local testing


# Private gmail API login

GMAIL_USER=<you>@gmail.com
GMAIL_APP_PASSWORD=your_actual_setup_app_password


# Project Weather - takes different names in different parts of the project
# Why This Happens Different developers/teams use different naming conventions:

# Shorter names: OPENWEATHER_API_KEY (developer preference)
# Explicit names: OPENWEATHERMAP_API_KEY (official library preference)
# Bottom line: You're right that the site is OpenWeatherMap, but the environment variable name depends on what the specific application was coded to expect.

OPENWEATHER_API_KEY=your_actual_setup_api_key
OPENWEATHERMAP_API_KEY=your_actual_setup_api_key


# Personal OpenAI key 1

OPENAI_API_KEY=your_actual_setup_api_key

# Personal Langsmith API

LANG_SMITH_API=your_actual_setup_api_key

# N8N API Organization key
N8N_LICENCE_KEY_NONPROFIT=your_actual_setup_api_key
